<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <script>
        
        console.log(1)
    </script>
    <div id = 'ErrorBar' style="background-color: aqua; width: 500px; height: 500px;">

    </div>

        <form action="getData" method="post">
            <input type="text" name= 'id' id = 'id'> 
            <input type="submit" value="Rn">
        </form>

    <div id = 'ObservedValue' style="background-color: brown; width: 500px; height: 500px;">
        
    </div>
</body>
</html>