<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id = 'R' style="margin: 0; border-width: 10px; border-color: black; border-style: dashed; display: inline-block;">
        <h1 style="text-align: center;">R1</h1>
        <div id = 'RA' style="height: 500px; ;width: 500px; float: left; background-color: black;"></div>
        <div id = 'RB' style="height: 500px; ;width: 500px; float: left; background-color: blue;"></div>
        <div id = 'RC' style="height: 500px; ;width: 500px; float: left; background-color : gold"></div>
        <div id = 'X' style="height: 500px; ;width: 500px; float: left; background-color : white"></div>
        <div id = 'Y' style="height: 500px; ;width: 500px; float: left; background-color: black;"></div>
    </div>
    <div id = 'R' style="margin: 0; border-width: 10px; border-color: black; border-style: dashed; display: inline-block;">
        <h1 style="text-align: center;">R1</h1>
        <div id = 'RA' style="height: 500px; ;width: 500px; float: left; background-color: black;"></div>
        <div id = 'RB' style="height: 500px; ;width: 500px; float: left; background-color: blue;"></div>
        <div id = 'RC' style="height: 500px; ;width: 500px; float: left; background-color : gold"></div>
        <div id = 'X' style="height: 500px; ;width: 500px; float: left; background-color : white"></div>
        <div id = 'Y' style="height: 500px; ;width: 500px; float: left; background-color: black;"></div>
    </div>


</body>
</html>