<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>
    <% for(var i = 1; i <= 4; i ++) { %>
    <div style="width:30; height:30px; margin:30px;"> <strong>R1</strong></div>
    <div style="width:30; height:30px; margin:10px 10px 10px 30px;"> <strong>&#60RA HISTOGRAM></strong></div>
    <div id=RA<%=i%> style="width:30; height:300px;  margin:0px 1000px 10px 30px;"></div>
    <div style="width:30; height:30px; margin:10px 10px 50px 30px;"> <strong>RA 측정값: </strong></div>
    <div style="width:30; height:30px; margin:10px 10px 10px 30px;"> <strong>&#60RB HISTOGRAM></strong></div>
    <div id=RB<%=i%> style="width:30; height:300px; margin:0px 1000px 10px 30px;"></div>

    <div style="width:30; height:30px; margin:10px 10px 50px 30px;"> <strong>RB 측정값: </strong></div>
    <div style="width:30; height:30px; margin:10px 10px 10px 30px;"> <strong>&#60RC HISTOGRAM></strong></div>
    <div id=RC<%=i%> style='width:30; height:300px; margin:0px 1000px 10px 30px;''></div>

    <div style="width:30; height:30px; margin:10px 10px 50px 30px;"> <strong>RC 측정값: </strong></div>
    <%}%>

        <script type="text/javascript">
            function initPlot(id) {
                var data = [
                    {
                        x: [0],
                        y: [0],
                        type: 'bar'
                    }
                ];
                Plotly.newPlot(id, data);
            }
            for (var i = 1; i <= 4; i++) {
                initPlot('RA' + i)
                initPlot('RB' + i)
                initPlot('RC' + i)
            }

            function darwPlot(data){
                var num
                if(data.id[1] == '1')
                    num = 'RA'
                if(data.id[1] == '2')
                    num = 'RB'
                if(data.id[1] == '3')
                    num = 'RC'
                var id =  num + data.id[0]
                Plotly.newPlot(id,data.data)
            }


            function updateData() {
                var t
                $.post("http://localhost:3000/toPlot/", { "ID": "1", 'NUM' : '1' }, function (data) {
                    console.log(data.data)
                var num
                if(data.id[1] == '1')
                    num = 'RA'
                if(data.id[1] == '2')
                    num = 'RB'
                if(data.id[1] == '3')
                    num = 'RC'
                var id =  num + data.id[0]
                Plotly.newPlot(id,data.data)
                }, "json");
                
            }
            timerID = setInterval("updateData()", 1000);

        </script>
</body>

</html>